# Lando
.lando.local.yml
.lando.yml.backup

# Composer dependencies
/vendor/

# Drupal core & contrib (instalados con Composer)
docroot/web/core/
docroot/web/modules/contrib/
docroot/web/themes/contrib/
docroot/web/profiles/contrib/

# Drupal settings
docroot/web/sites/*/settings.php
docroot/web/sites/*/settings.local.php
docroot/web/sites/*/services.local.yml

# Drupal user files (uploads, cache, styles, etc.)
docroot/web/sites/*/files/

# Node
/node_modules/
/npm-debug.log
/yarn-error.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Other
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
